<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
    <observer name="multi_store_view_pricing_save" instance="Mageants\MultiStoreViewPricing\Observer\Saveprice" />
    </event>
    <event name="catalog_product_edit_action">
    	<observer name="multi_store_view_pricing" instance="Mageants\MultiStoreViewPricing\Observer\Productview" />
    </event>
    <event name="catalog_product_get_final_price">
    	<observer name="multi_store_view_final_pricing" instance="Mageants\MultiStoreViewPricing\Observer\Productprice" />
     </event>
</config>
