<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="Mageants_ZipcodeCod::zipcodecod_content" title="Zipcode COD" module="Mageants_ZipcodeCod" sortOrder="11" resource="Mageants_ZipcodeCod::zipcodecod_content"/>
		<add id="Mageants_ZipcodeCod::zipcodecod_grid" title="Zipcode COD" module="Mageants_ZipcodeCod" sortOrder="10" parent="Mageants_ZipcodeCod::zipcodecod_content" action="zipcodecod/zipcodecod" resource="Mageants_ZipcodeCod::zipcodecod_grid"/> 
		<add id="Mageants_ZipcodeCod::zipcodecod_request" title="Configuration" module="Mageants_ZipcodeCod" sortOrder="10" parent="Mageants_ZipcodeCod::zipcodecod_content" action="adminhtml/system_config/edit/section/mageants_zipcodecod/" resource="Mageants_ZipcodeCod::zipcodecod_request"/> 
    </menu>
</config>
