<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mageants_custom_options_select_type_add_child_before">
        <observer name="add_select_type_grid_child" instance="Mageants\Customoptionimage\Observer\Adminhtml\AddBackendField" />
    </event>
</config>