<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<!-- <preference for="Magento\Shipping\Model\Shipping" type="Mageants\CSPM\Block\Shipping" /> -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cspm_cspm_listing_data_source" xsi:type="string">Mageants\CSPM\Model\ResourceModel\Cspm\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="CspmGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CspmGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mageants\CSPM\Model\Resource\Cspm\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">CspmGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Mageants\CSPM\Model\ResourceModel\Cspm\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cspm_configuration</argument>
            <argument name="resourceModel" xsi:type="string">Mageants\CSPM\Model\ResourceModel\Cspm</argument>
        </arguments>
    </virtualType>
</config>
